<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FirstProject</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="css/favicon.ico">
<link rel="stylesheet" href="css/styles.3ff695c00d717f2d2a11.css"></head>
<body>
  <app-root></app-root>
<script src="css/runtime-es2015.e8a2810b3b08d6a1b6aa.js" type="module"></script><script src="css/runtime-es5.e8a2810b3b08d6a1b6aa.js" nomodule defer></script><script src="css/polyfills-es5.931f63c2feef40f602a6.js" nomodule defer></script><script src="css/polyfills-es2015.0ef207fb7b4761464817.js" type="module"></script><script src="css/main-es2015.27f7241da7f793109f7f.js" type="module"></script><script src="css/main-es5.27f7241da7f793109f7f.js" nomodule defer></script></body>
</html>
